<template name="login">
    <div class="container" id="view-login">
		<form id="login-form">
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username"/>
                </div>
                <div class="col-xs-12 form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"/>
                </div>
                <div class="col-xs-12 form-group">
                    <button class="col-xs-12 btn btn-primary" id="login-button">
						<span class="fa fa-spinner fa-spin" style="display: none;"></span>Login
					</button>
                </div>
            </div>
		</form>
    </div>
</template>